.time {
  line-height: 0.8;
  font-size: 60vmin;
}
.date {
  font-size: 1.3rem;
}
.hours {
}
.dot-loader {
  clip-path: polygon(
    0 0,
    calc(var(--i) * 1%) -2%,
    calc(var(--i) * 1%) 110%,
    0% 100%
  );
  transition: color 0.3s ease-out;
}
.minutes {
}
@media screen and (min-width: 768px) {
  .time {
    font-size: 30vw;
  }
}

@media screen and (max-width: 400px) {
  .bottom-cont {
    padding: 0;

    .day {
      font-size: 0.8rem;
      background: none !important;
      .day-current {
        font-size: 2em;
      }
    }
  }
}
