@font-face {
  font-family: Neue;
  src: url();
}
@import url('https://fonts.googleapis.com/css2?family=Redacted&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.radio-circle{
  width: 2.5em;
  height: 2.5em;
}
.text-center {
  text-align: center;
}
.text-gray {
  color: gray;
}
.d-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
  max-height: 100vh;
  /* overflow: hidden; */
}
.font-redacted{
  font-family: 'Redacted' !important;
}