@font-face {
  font-family: Neue;
  src: url();
}
@import url('https://fonts.googleapis.com/css2?family=Redacted&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.radio-circle{
  width: 2.5em;
  height: 2.5em;
}
.max-vh-50{
  max-height: 50vh;
}
.text-center {
  text-align: center;
}
.text-gray {
  color: gray;
}
.d-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
  max-height: 100vh;
  /* overflow: hidden; */
}
.font-redacted{
  font-family: 'Redacted' !important;
}