.theme-dark {
  --text-color: #fff !important;
  --theme-color: #1c1c1c !important;
  --theme-font:'Kalam' !important
}
.theme-light {
  --text-color: #1c1c1c !important;
  --theme-color: #fff !important;
  --theme-font:'Amita' !important
}
.theme-blue {
  --text-color: #fff !important;
  --theme-color: #56f !important;
  --theme-font:'Gotu' !important
}

.text-color {
  color: var(--text-color) !important;
}

.bg-theme {
  background-color: var(--theme-color) !important;
}
.border-color{
  border-color: var(--text-color) !important;
}
.border-theme{
  border-color: var(--theme-color) !important;
}
.text-theme {
  color: var(--theme-color) !important;
}
.btn {
  color: var(--text-color) !important;
  background-color: var(--theme-color) ;
}

.action-btn {
  color: var(--theme-color) !important;
  background-color: var(--text-color) !important;
  font-family:  "Neue-bold" !important;
  font-weight: bolder !important;
}
.form-control {
  color: var(--text-color) !important;
  background-color: transparent !important
}